{% extends 'accounts/main.html' %}

{% block content %}
<br>

{% for message in messages|slice:":1" %}
    {% if message is not None %}
        <div class="row">
            <div class="col-md">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> {{message}}.
                </div>
            </div>
        </div>
    <br>
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <h5>Assign Partner to Orders</h5>
                <tr>
                    <th>Order Id</th>
                    <th>Service</th>
                    <th>client</th>
                    <th>Date Orderd</th>
                    <th>Assign Partner</th>
                {% for o in ToBAsnd %}
                <tr>
                    <td>{{o.id}}</td>
                    <td>{{o.service_req.name}}</td>
                    <td>{{o.client.user.first_name}}</td>
                    <td>{{o.ordered_date}}</td>
                    <td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Assign-Partner' o.id %}">Assign-Partner</a></td>
                 {% endfor %}
                </tr>

            </table>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <h5>Partners to be Approved</h5>
                <tr>
                    <th>Partner ID</th>
                    <th>Partner Name</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>Approve Partner</th>
                    <th>Disapprove Partner</th>
                {% for p in partners %}
                <tr>
                    <td>{{p.user.id}}</td>
                    <td>{{p.user.first_name}}</td>
                    <td>{{p.company}}</td>
                    <td>{{p.city}}</td>
                    <td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Approve-Partner' p.user.id %}">Approve-Partner</a></td>
                    <td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Disapprove-Partner' p.user.id %}">Disapprove-Partner</a></td>
                 {% endfor %}
                </tr>

            </table>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <h5>Approved Partners</h5>
                <tr>
                    <th>Partner ID</th>
                    <th>Partner Name</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>Disapprove Partner</th>
                {% for p in actual_partners %}
                <tr>
                    <td>{{p.user.id}}</td>
                    <td>{{p.user.first_name}}</td>
                    <td>{{p.company}}</td>
                    <td>{{p.city}}</td>
                    <td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Dismiss-Partner' p.user.id %}">Dismiss the Partner</a></td>
                 {% endfor %}
                </tr>

            </table>
        </div>
    </div>
</div>
{% endblock %}