{% extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <h5>Approved Partners</h5>
                <tr>
                    <th>Partner ID</th>
                    <th>Partner Name</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>Disapprove Partner</th>
                {% for p in actual_partners %}
                <tr>
                    <td>{{p.user.id}}</td>
                    <td>{{p.user.first_name}}</td>
                    <td>{{p.company}}</td>
                    <td>{{p.city}}</td>
                    <td><a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'Dismiss-Partner' p.user.id %}">Dismiss the Partner</a></td>
                 {% endfor %}
                </tr>

            </table>
        </div>
    </div>
</div>

{% endblock %}