{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
    div.form
    {
        display: block;
        text-align: center;
    }
    form
    {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
<br>

    <h3 style="text-align: center;">Profile Update</h3>
    <br>
    <div class="form">
    <form action="{% url 'partner-profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Official Person Photo:</span>
                {{form.Official_photo}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Aadhar Card:</span>
                {{form.Aadhar_card}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Pan card:</span>
                {{form.Pan_card}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Work experience certificate:</span>
                {{form.Work_experience}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Payment slip:</span>
                {{form.Payment_slip}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: #bf111a44;">Educational certificate:</span>
                {{form.Educational_certificate}}
            </div>
        </div>
        {% for message in messages|slice:1%}
		    <p>{{message}}</p>
	    {% endfor %}
        <input type="submit" class="btn btn-info"  name="submit">
    </form>
    </div>
    <script>

        var form_fields = document.getElementsByTagName('input')
        for (var field in form_fields){	
            if(field == form_fields.length -2)
            break;
			form_fields[field].className += ' form-control'
		}
    </script>
{% endblock %}