{%  extends 'accounts/main.html' %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Delivered Orders:</h5>
            <table class="table table-sm">
                <tr>
                    <th>Order Id</th>
                    <th>Client</th>
                    <th>Category</th>
                    <th>City</th>
                    <th>Date Ordered</th>
                    <th>Service Delivered</th>
                </tr>
                {% for order in done %}
                    <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.client.user.first_name}}</td>
                    <td>{{order.service_req}}</td>
                    <td>{{order.city}}</td>
                    <td>{{order.ordered_date}}</td>
                    <td><a href="{% url 'partnerview-product' order.id %}" class="btn btn-outline-info  btn-sm btn-block">Service</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}