{% extends 'accounts/register.html' %}

{% block content %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center" style="text-align: center;">
					<h3 id="form-title">CLIENT
					<br>REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form id="form_main">
						{% csrf_token %}
						<div id = "error"  style="color:red"></div>
						<label> <strong> Company Name: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.company}}
						</div>
						<label> <strong> Type of company: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.company_type}}
						</div>
						<label> <strong> Your First Name: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.first_name}}
						</div>
						<label> <strong> Your Last Name: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.last_name}}
						</div>
						<label> <strong> Your Role in Company: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-briefcase"></i></span>
							</div>
							{{form.designation}}
						</div>
						<label> <strong> Official Mail: </strong></label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<label> <strong> Company Phone: </strong></label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							{{form.phone}}
						</div>
						<label> <strong> Your Mobile: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							{{form.mobile}}
						</div>
						<label> <strong> Address: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-address-card"></i></span>
							</div>
							{{form.address}}
						</div>
						<label> <strong> State: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="far fa-address-card"></i></span>
							</div>
							{{form.state}}
						</div>
						<label> <strong> City: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-city"></i></span>
							</div>
							{{form.city}}
						</div>
						<label> <strong> Pin Code: </strong></label>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="far fa-address-card"></i></span>
							</div>
							{{form.pin}}
						</div>
						<label> <strong> Password: </strong></label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<label> <strong> Confirm Password: </strong></label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>
					</form>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button class="btn login_btn" form="form_main" type="submit" value="Submit">Register Account</button>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'client-login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--the otp page code-->
	<div class="bg-modal2">
		<div class="modal-content2">
			<p>Wait</p>
		</div>
	</div>
	<div class="bg-modal3">
		<div class="modal-content3">
			<p>Email already exist</p>
		</div>
	</div>
	<div class="bg-modal4">
		<div class="modal-content4">
			<p>Registration Successfully Completed<br>
				<a href="{% url 'client-login' %}" class="ml-2">Click here</a> for login page </p>
		</div>
	</div>
	<div class="bg-modal">
		<div class="modal-content">

			<form id="otp_form">
				{% csrf_token %}
				<div class="input-group mb-3">
					<p>An OTP has been sent to your email. Please check your mail for OTP.</p>
					<div id = "error2"></div>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<input type="text" id="otp" placeholder="Enter OTP..." class="form-control">
				</div>
					<div class="d-flex justify-content-center mt-3 login_container">
						<input onclick="submit_form();return false;" class="btn login_btn" type="submit" name = "verify" value="Verify">
					</div>
					<div class="d-flex justify-content-center mt-3 login_container">

						<input onclick="send_new();return false;" class="btn login_btn" type="submit" name = "resend" value="Resend">
					</div>
			</form>
		</div>
	</div>
	<script>
		function validate(){
			var s = document.getElementById("id_password1").value;
			if (document.getElementById("id_company").value.length == 0){
				document.getElementById('error').innerHTML="Invalid Company Name";
				return 1;
			}
			else if(document.getElementById("id_company_type").value == 'select'){
				document.getElementById('error').innerHTML="Select Company Type";
				return 1;
			}
			else if(!/^([a-zA-Z]+)(\s*)([a-zA-Z]*)$/.test(document.getElementById("id_first_name").value)){
				document.getElementById('error').innerHTML="Invalid First Name";
				return 1;
			}
			else if(!/^[a-zA-Z]+$/.test(document.getElementById("id_last_name").value)){
				document.getElementById('error').innerHTML="Invalid Last Name";
				return 1;
			}
			else if(document.getElementById("id_designation").value == 'select'){
				document.getElementById('error').innerHTML="Select Designation";
				return 1;
			}
			else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(document.getElementById("id_email").value)){
				document.getElementById('error').innerHTML="Invalid Email";
				return 1;
			}
			else if(document.getElementById("id_phone").value.length != 10 || !/^[0-9]+$/.test(document.getElementById("id_phone").value)){
				document.getElementById('error').innerHTML="Invalid Phone";
				return 1;
			}
			else if(document.getElementById("id_mobile").value.length != 10 || !/^[6879][0-9]+$/.test(document.getElementById("id_mobile").value)){
				document.getElementById('error').innerHTML="Invalid Mobile";
				return 1;
			}
			else if (document.getElementById("id_address").value.length == 0){
				document.getElementById('error').innerHTML="Invalid Address";
				return 1;
			}
			else if (!/^([a-zA-Z]+)(\s*)([a-zA-Z]*)$/.test(document.getElementById("id_state").value)){
				document.getElementById('error').innerHTML="Invalid State";
				return 1;
			}
			else if (!/^([a-zA-Z]+)(\s*)([a-zA-Z]*)$/.test(document.getElementById("id_city").value)){
				document.getElementById('error').innerHTML="Invalid City";
				return 1;
			}
			else if (document.getElementById("id_pin").value.length != 6 || !/[0-9]+$/.test(document.getElementById("id_pin").value)){
				document.getElementById('error').innerHTML="Invalid Pin";
				return 1;
			}else if (!(/\d+/.test(s) && /[a-zA-Z]/.test(s) && /\W/.test(s) && s.length >= 8)) {
				document.getElementById('error').innerHTML="Weak Password<br> 1.Password should be minimum 8 character long<br>2. Password should contain at least<br>  a.1 special character<br>  b.1 numeric character<br>  c.1 alphabatic character";
				return 1;
			}
			else if(document.getElementById("id_password1").value != document.getElementById("id_password2").value){
				document.getElementById('error').innerHTML="Password Not Matching";
				return 1;
			}
			else{
				return 0;
			}
		};
		//the otp verification code
		var main_form = $('#form_main');
		var k;
		var rem = 3;
		main_form.submit(function(){
			// alert("i am here");
			k = main_form.serialize();
			var c = validate();
			if (c == 0){
				document.querySelector('.bg-modal2').style.display = 'flex';
				$.ajax({
						type: 'GET',
						data: {
								email: $('#id_email').val(),
								first_name: $('#id_first_name').val(),
								csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
								},
						url: '/verify_email/',
						success: function(response) {
							document.querySelector('.bg-modal2').style.display = 'none';
							if(response.status == '0'){
                    			document.querySelector('.bg-modal').style.display = 'flex';
                			}
							else{
								document.querySelector('.bg-modal3').style.display = 'flex';
							}
						}
					});
        		return false;
        	}
        	else{
        		$('html, body').animate({ scrollTop: 0 }, 'fast');
        		return false;
        	}
        });
        function submit_form(){
        	document.querySelector('.bg-modal2').style.display = 'flex';
        	document.querySelector('.bg-modal').style.display = 'none';
        	$.ajax({
        		type: 'POST',
        		data: k + '&otp='+$('#otp').val(),
        		url: '/submit/client/',
				success: function(response){
					if (response.status == '-1'){
						document.querySelector('.bg-modal2').style.display = 'none';
						document.querySelector('.bg-modal4').style.display = 'flex';
					}
					else if (response.status == '-2'){
						location.href = "/";
					}
					else {
						rem = rem - 1;
						document.querySelector('.bg-modal2').style.display = 'none';
						document.querySelector('.bg-modal').style.display = 'flex';
						document.getElementById('error2').innerHTML= "Wrong OTP " + rem.toString()+" attempts remaining";
					}
				}
        	});
        	return false;
        }
        function send_new(){
        	if(rem > 0){
				document.getElementById('error2').innerHTML= "sending";
				$.ajax({
					type: 'GET',
					data: {
							first_name: $('#id_first_name').val(),
							csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
							},
					url: '/submit/client/',
					success: function(response){
						if (response.status == '-2'){
							location.href = "/";
						}
						else {
							rem = rem - 1;
							document.getElementById('error2').innerHTML= rem.toString()+" attempts remaining";
						}
					}

					});
        		return false;
        	}
        	else{
        		location.href = "/";
        		return false;
        	}
        }
	</script>

{% endblock %}